---
const date = new Date();
const year = date.getFullYear();
---

<footer class="footer">
    <div class="innerWrapper innerWrapper--footer">
        <div class="footer__top">
        </div>
        <div class="footer__bottom">
            <div class="copyright">
                &copy; { year } - Cristina Gonçalves | Naturopatia
            </div>
            <div class="developedBy">
                Developed by <a href="https://pedromartins.com.pt" class="u-link" target="_blank"> Pedro Martins </a>
            </div>
        </div>
    </div>
</footer>

<style lang="less">

    .footer {
        padding: 1.5rem;
    }


    .footer__bottom {
        display: flex;
        justify-content: space-between; 
        margin-block-start: 1.5rem;
    }

</style>