---
import { Image } from 'astro:assets';
import Insomnia from '../images/insomnia.png';
import Alergies from '../images/alergies.png';
import BackPain from '../images/back-pain.png';
import Cholesterol from '../images/cholesterol.png';
import Fatigue from '../images/fatigue.png';
import Memory from '../images/memory.png';
import Obesity from '../images/obesity.png';
import Stress from '../images/stress.png';
import Anxiety from '../images/anxiety.png';  
---

<section class="section section--health">
    <div class="innerWrapper">
        <h2 class="section__title">Naturopatia</h2>
        <h4 class="section__subTitle">O que é e como pode ajudar</h4>
        <div class="content">
            <div class="content__txt">
                <p>A característica principal da Naturopatia, é uma abordagem holística e natural que tem como base o princípio da homeostasia, isto é, o corpo possuí uma capacidade inata de auto-equilíbrio.</p>
                <p>O Naturopata avalia o estado geral da saúde das pessoas através de processos naturais e utilizando várias técnicas de diagnóstico específicas.</p>
                <p>A Naturopatia inclui as áreas da Homeopatia, Fitoterapia, Redução Alimentar, Hidroterapia e Oligoterapia.</p>
            </div>
            <a href="/naturopatia" class="btn btn--main content__cta">Saiba mais</a>
        </div>

        <ul class="conditions">
            <li class="condition">
                <div class="condition__header">
                    <div class="condition__icon">
                        <Image src={Insomnia} alt="" width="60" height="60"/>
                    </div>
                </div>
                <div class="condition__body">
                    <h4 class="condition__title"> Insónia </h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus dolorum, ex exercitationem at aspernatur delectus modi est.</p>
                    <a class="more">Saber mais</a> 
                </div>
            </li>
            <li class="condition">
                <div class="condition__header">
                    <div class="condition__icon">
                        <Image src={ Alergies } alt="" width="60" height="60"/>
                    </div>
                </div>
                <div class="condition__body">
                    <h4 class="condition__title"> Alergias </h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus dolorum, ex exercitationem at aspernatur delectus modi est.</p>
                    <a class="more">Saber mais</a> 
                </div>
            </li>
            <li class="condition">
                <div class="condition__header">
                    <div class="condition__icon">
                        <Image src={ Obesity } alt="" width="60" height="60"/>
                    </div>
                </div>
                <div class="condition__body">
                    <h4 class="condition__title"> Obesidade </h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus dolorum, ex exercitationem at aspernatur delectus modi est.</p>
                    <a class="more">Saber mais</a> 
                </div>
            </li>
            <li class="condition">
                <div class="condition__header">
                    <div class="condition__icon">
                        <Image src={ Fatigue } alt="" width="60" height="60"/>
                    </div>
                </div>
                <div class="condition__body">
                    <h4 class="condition__title"> Stress e Fadiga crónica </h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus dolorum, ex exercitationem at aspernatur delectus modi est.</p>
                    <a class="more">Saber mais</a> 
                </div>
            </li>
            <li class="condition">
                <div class="condition__header">
                    <div class="condition__icon">
                        <Image src={ Anxiety } alt="" width="60" height="60"/>
                    </div>
                </div>
                <div class="condition__body">
                    <h4 class="condition__title"> Ansiedade </h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus dolorum, ex exercitationem at aspernatur delectus modi est.</p>
                    <a class="more">Saber mais</a> 
                </div>
            </li>
            <li class="condition">
                <div class="condition__header">
                    <div class="condition__icon">
                        <Image src={ BackPain } alt="" width="60" height="60"/>
                    </div>
                </div>
                <div class="condition__body">
                    <h4 class="condition__title"> Dores reumáticas </h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus dolorum, ex exercitationem at aspernatur delectus modi est.</p>
                    <a class="more">Saber mais</a> 
                </div>
            </li>
            <li class="condition">
                <div class="condition__header">
                    <div class="condition__icon">
                        <Image src={ Memory } alt="" width="60" height="60"/>
                    </div>
                </div>
                <div class="condition__body">
                    <h4 class="condition__title"> Problemas de memória </h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus dolorum, ex exercitationem at aspernatur delectus modi est.</p>
                    <a class="more">Saber mais</a> 
                </div>
            </li>

            <li class="condition">
                <div class="condition__header">
                    <div class="condition__icon">
                        <Image src={ Cholesterol } alt="" width="60" height="60"/>
                    </div>
                </div>
                <div class="condition__body">
                    <h4 class="condition__title"> Colesterol </h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus dolorum, ex exercitationem at aspernatur delectus modi est.</p>
                    <a class="more">Saber mais</a> 
                </div>
            </li>
        </ul>


    </div>
</section>

<style lang="less">

    .section--health {
        background-color: var(--secondary);
        position: relative;
        text-align: center;
    }


    .content {
        display: flex;
        gap: 12rem;
    }

    .content__txt {
        flex-grow: 1;

        p:last-child {
            margin-block-end: 0;
        }
    }

    .content__cta {
        align-self: end;
        flex-shrink: 0;
    }

    .conditions {
        --size: 280px;

        display: grid;
        gap: 1.5rem;
        grid-template-columns: repeat(auto-fit, minmax(var(--size), 1fr));
        margin-block-start: 6rem;
        z-index: 10;
    }

    .condition {
        background-color: var(--accent-faded);
        border-radius: var(--default-border-radius);
        display: flex;
        flex-direction: column;
        height: calc(var(--size) * 1.1);
        padding: 1.5rem;
    }
    
    .condition__icon {
        --size: 70px;

        background-color: var(--font-color);
        border-radius: var(--default-border-radius);
        display: flex;
        height: var(--size);
        justify-content: center;
        padding: 15px;
        width: var(--size);

        img {
            filter: invert(100);
            height: 100%;
            object-fit: cover;
            width: 100%;
        }
    }

    .condition__body {
        flex-grow: 1;
        font-size: 1.3rem;
        margin-block-start:.75rem;

        p {
            font-size: .9rem;
            opacity: .7;
        }
    }

    .condition__title {
        font-size: 1.6rem;
        margin-block-end: .75rem;
    }


    @media only screen and (min-width: 992px) {

        .section--health {
            text-align: start; 
        }
    }
</style>