---
import { Image } from 'astro:assets';
import { Icon } from 'astro-icon/components';
import heroGraphics from '../images/hero1.svg';
---

<section class="section section--hero">
    <div class="innerWrapper innerWrapper--hero">
        <div class="hero__content">
            <h2 class="hero__title">A <span>saúde</span> é essencial para uma vida plena de <span>felicidade</span>.</h2>
            <a href="#contacts" class="btn btn--main btn--icon">Saiba mais  <Icon name="mdi:chevron-right" /> </a>
        </div>
        <Image src={ heroGraphics } alt="A bird sitting on a nest of eggs." class="hero__graphics1" width={heroGraphics.width / 1.5} />
    </div>
</section>

<style lang="less"> 

    .section--hero {
        overflow: hidden;
        padding-block: 1.5rem;
        position: relative;
    }

    .innerWrapper--hero {
        height: calc(100vh - 145px - 3rem);
        position: relative;
    }

    .hero__content {
        inset-block-start: 30%;
        position: absolute;
        transform: translateY(-50%);
    }

    .hero__title {
        font-size: 2.3rem;
        font-style: italic;
        font-weight: 400;
        margin-block-end: 4.5rem;

        span {
            background-image: url('/images/strikeout.svg');
            background-position: -6% 107%;
            background-repeat: no-repeat;
            color: var(--accent);
        }
    }

    .hero__graphics1 {
        height: 55%;
        inset-block-end: 9rem;
        inset-inline-end: 0;
        position: absolute;
        width: 55%;
    }


    @media only screen and (min-width: 992px) {

        .hero__content {
            width: 65%;
        }

        .hero__title {
            font-size: 4.3rem;
        }
    }   

</style>